*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color:#4b4545;
}
h1{
    color:#fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cube{
    width:200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    margin-top:50px; 
    margin-left: 80px;
    animation: rotate 10s linear infinite;
}
img{
    width:100%;
    height:100%;
    object-fit:cover; 
}
.box{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    object-fit:cover; 
    /* opacity: .5; */
}
.box-1{
    background-color: red;
    transform: translateZ(100px);
}
.box-2{
    background-color: greenyellow;
    transform: rotateY(90deg) translateX(100px);
    transform-origin: right;

}
 .box-3{
    background-color: lightblue;
    transform: rotateY(180deg) translateZ(100px);

 }

.box-4{
    background-color: yellow;
    transform: rotateY(-90deg) translateX(-100px);
    transform-origin: left;

}
.box-5{
    background-color: orange;
    transform: rotateX(-90deg) translateY(-100px);
    transform-origin: top;
}
.box-6{
    background-color: palevioletred;
    transform: rotateX(90deg) translateY(100px);
    transform-origin: bottom;
} 
@keyframes rotate{
    0%, 100%{
        transform: rotate(0);
    }
    20%{
        transform: rotateY(90deg) rotateZ(90deg);

    }
     40%{
        transform: rotateY(180deg) rotateZ(-90deg);
        
    }
     60%{
        transform: rotateY(270deg) rotateZ(90deg);
        
    }
     80%{
        transform: rotateY(360deg) rotateZ(-90deg);
        
    }
} 
